body {
    font-family: "Lato", sans-serif;
    color: #2d3c49;
    font-weight: 300;
}

.header {
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 5px #7d97ad solid;
    margin-bottom: 40px;
}

.title-logo {
    margin-top: 20px;
    width: 100px;
    height: 100px;
}

.title-super {
    font-size: 60px;
}

.text-thin {
    font-weight: 100;
}

.text-featured {
    font-size: 40px;
}

.text-muted {
    color: #7d97ad;
    padding-bottom: 10px;
}

.text-project-title {
    text-transform: uppercase;
    font-size: 38px;
    font-weight: 800;
}

.text-link>a {
    font-size: 1.4em;
    color: #2d3c49;
    text-decoration: none;
}

.hero {
    width: 100%;
}

@media screen and (max-width: 990px) {
    .title-super {
        font-size: 48px;
    }
}
@media screen and (max-width: 770px) {
    .title-super {
        font-size: 42px;
    }
}